<div id="content">
	<h2>Users</h2>
</div>


</div>

<div id="content-bottom-right">
	<h2>Users by email</h2>
	<p><% @users.each do |u| %>
			<%= link_to u.username, edit_user_registration_path%>
		 <% end %>
	</p>
</div>