body {
	background-color: #D0D0D0;
}	

h1 {
	color: #FF5A00;
	margin-top: 0%;
	text-align: left;
	letter-spacing: -0.1em;
	font-size: 2.5em;
}

h3 {
	color: #FF5A00;
	margin-top: 0%;
	text-align: center;
	letter-spacing: -0.1em;
	font-size: 1.5em;
}

error {
	font-size: 3em;
	color: #FF5A00;
}

p {
	color: #FF5A00;
	text-align: center;
	font-size: 1.2em;
}

.foot-para {
	bottom: 1%;
	margin-left: auto;
	margin-right: auto;
	position: relative;
	left: 37%;
	bottom: 35%;
	font-size: 1.2em;
}
.foot-para a {
	color: #FF5A00;
}

para {
	color: #868686;
}

h4 {
	color: #FF5A00;	
}

h2 {
	letter-spacing: -0.1em;
	color: #FF5A00;
	margin-top: 0%;
	text-align: center;
	font-size: 2em;
	text-decoration: underline;
}

.align {
	text-align: center;
}
.navbar.navbar-default {
	margin-top: 0%;
	top: 0%;
	height: 10%;
	text-align: center;
	background-color: #373737;
	color: #FF5A00;
}

.jumbotron-bottom {
	bottom: 0%;
	position: fixed;
	height: 6%;
	background-color: #373737;
	color: #FF5A00;
	width: 100%;
  border-top: 50%;
}

.profilePic {
	top: 5%;
	left: 16%;
	margin: 0%;
	position: absolute;
	border: 4px solid #373737;
	width: 110px;
	z-index:1000;
}

.linkedin {
	width: 2.7%;
	bottom: 0%;
	right: 1%;
	position: fixed;
}

.linkedin:active {
	width: 2.7%;
	bottom: -0.2%;
	right: 1%;
	position: fixed;
}

.twitter {
	width: 2.6%;
	bottom: 0%;
	right: 4%;
	position: fixed;
}

.twitter:active {
	width: 2.6%;
	bottom: -0.4%;
	right: 4%;
	position: fixed;
}

.linkedinContact {
	width: 65px;
	top: 10%;
	right: 25%;
	position: absolute;
}

.twitterContact {
	width: 63px;
	top: 10%;
	right: 29%;
	position: absolute;
}

.twitterContact:active {
	width: 63px;
	top: 10.5%;
	right: 29%;
	position: absolute;
}

.linkedinContact:active {
	width: 65px;
	top: 10.5%;
	right: 25%;
	position: absolute;
}

.headText {
	color: #FF5A00;
}

.basicAPICert {
    width: 90%;
}

.GitStartedCert {
    width: 90%;
}

#content {
	background-color: #505050;
  overflow: hidden;
  width: 55%;
  right: 20%;
  margin-bottom: 2%;
  margin-left: auto;
  margin-right: auto;
}

#content-bottom-left {
	background-color: #505050;
	width: 27%;
  overflow: hidden;
  float: left;
  position: relative;
  left: 52%;
  bottom: 50%;
  padding-bottom: 3%;
}

#content-bottom-right {
	background-color: #505050;
	width: 27%;
  overflow: hidden;
  float: right;
  position: relative;
  right: 52%;
  padding-bottom: 3%;
}

#qualification {
	background-color: #505050;
	width: 55%;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: auto;
	margin-top: auto;
	position: relative;
}

.list-group-item {
	cursor: pointer;
}

.large:hover {
	-webkit-transform: scale(2, 2);
	padding-bottom: 6%;
}

.alert.alert-warning {
	background-color: #505050;
	height: 120px;
 	width: 25%;
	margin-left: auto;
	margin-right: auto;
	border-color: black;
}