<h1 align="center">Users</h1>
<% @users.each do |user| %>
	<div class="row">
		<div class="col-xs-4 col-xs-offset-4">
			<div class="well well-sm">
				<div class="user-img">
					<%= gravatar_for user, size: 150 %>
				</div>
				<div class="user-title">
					<%= link_to user.username,  user_path(user) %> <br />
				</div>
			</div>
		</div>
	</div>
<% end %>