<div class="jumbotron">
	<div class="col-md-12">
		<div class="col-md-offset-3">
			<h1 id="logo">
			  <% if !logged_in? %>
			  Welcome to Adam's portfolio<% else %>
			  <%= current_user.username + ", 
			  welcome to my portfolio" %><% end %></h1>
		</div>
		<div class="col-sm-offset-4">
		<%= link_to 'Sign up', signup_path, class: "btn btn-primary btn-lg", id: "buttonLogo" if !logged_in? %>
		</div>
	</div>
	<div class="col-md-12">
		<div class="col-md-offset-7">
				<h3 id="header-text">
					You can find all off my experience by clicking this button below
				</h3>
		</div>

		<div class="col-md-offset-8">
		<%= link_to 'Experience', "#", class: "btn btn-primary btn-lg", id: "experience-button" %>
		</div>
	</div>

	<div class="col-md-12">
		<div class="col-md-offset-1">
			<h3 id="header-text">
			<% if !logged_in? %>
				You can create your own articles by signing up and<br> clicking the to the link below
			<% else %>
				Now that you are logged in why don't you create an article<br> by clicking the button below?
			<% end %>
			</h3>
		</div>
		<div class="col-md-offset-3">
		<%= link_to 'Articles', articles_path, class: "btn btn-primary btn-lg", id: "article-button" %>
		</div>
	</div>
</div>