<body>

	<div id="content">
	<h2>About me</h2>
		<p>Kitsch flannel tumblr banh mi biodiesel forage. Meggings pickled flexitarian chicharrones vegan, you probably haven't heard of them lumbersexual roof party. Salvia pug post-ironic, cred kitsch shoreditch selvage. Literally kitsch four loko, helvetica tote bag dreamcatcher ethical leggings. Artisan shabby chic helvetica, shoreditch bespoke venmo vice iPhone beard distillery church-key tousled etsy williamsburg. Farm-to-table DIY church-key direct trade, wolf freegan meditation YOLO single-origin coffee waistcoat. Ethical authentic squid beard roof party synth mustache drinking vinegar.</p>
		<p style="color: red; font-weight: bolder; text-decoration: underline;"><!-- Please note this website is underconstruction. This is not the final version. --></p>
	</div>

	<div id="content-bottom-left">
		<a href="https://www.udemy.com/certificate/UC-4UG82NZR/" target="_blank"><p><img class="GitStartedCert" src="/images/GitStartedCert.jpg"></p></a>
	</div>

	<div id="content-bottom-right">
		<a href="https://www.udemy.com/certificate/UC-NFQYUZEI/" target="_blank"><p><img class="basicAPICert" src="/images/basicAPICert.jpg"></p></a>
	</div>

</body>