<body>

	<div id="content">
	<h2>About me</h2>
	<% if user_signed_in? == true %>
		<p>User ID: <%= current_user.id %><br />
			 Username: <%= current_user.username %>
			 <%= link_to "Sign out", destroy_user_session_path, :method => :delete %>
			 <%= link_to "Profile", edit_user_registration_path %></p>
	<% end %>
		<p style="color: red; font-weight: bolder; text-decoration: underline;"><!-- Please note this website is underconstruction. This is not the final version. --></p>
	</div>

	<div id="content-bottom-left">
		<a href="https://www.udemy.com/certificate/UC-4UG82NZR/" target="_blank"><p><img class="GitStartedCert" src="/images/GitStartedCert.jpg"></p></a>
	</div>

	<div id="content-bottom-right">
		<a href="https://www.udemy.com/certificate/UC-NFQYUZEI/" target="_blank"><p><img class="basicAPICert" src="/images/basicAPICert.jpg"></p></a>
	</div>

</body>