@import "bootstrap-sprockets";
@import "bootstrap";

.headFont {
	color: white !important;
	font-weight: bold;
}

.navbar-brand {
	font-weight: bolder !important;
	color: white !important;
}

.jumbotron {
	background-image: asset-url('Background-sky.jpg');
	background-size: cover;
	height: 550px;
}


.footer {
	color: grey;
	border-top: 1px solid #eaeaea;
	padding-top: 1%;
}

.footer a:hover {
	color: #222;
}

.footer small {
	margin-right: auto;
	margin-left: auto;
}

.panel-footer {
	padding-bottom: 3%;
}

.user-img {
	text-align: center;
}

.user-title {
	text-align: center;
	font-weight: bold;
	font-size: 1.7em;
	letter-spacing: -2px;
}

.header-container {
	border: 2px solid black;
	width: 20%;
}

.button-container {
	border: 1px solid black;
}

#header-logo {
	font-weight: bold;
	letter-spacing: -0.2px;
}

#profile-action {
	 list-style-type: none;
	 font-size: 1.2em;
}

#logo {
	color: black;
	font-weight: bold;
	letter-spacing: -2px;
	font-size: 2.7em;
}

#buttonLogo {
	color: black;
	background-color: lightblue;
	position: absolute;
	right: 50%;
	width:10%;
	height: 5%;
}

#login-form-control {
	width: 50%;
	margin-left: auto;
	margin-right: auto;
}

#form-input-control {
	margin-left: auto;
	margin-right: auto;
	width: 60%;
}

#commentBorder {
	padding-top: 15px;
}

#create-comment {
	display: none;
}

#article-submit-button {
	margin-top: 1%;
}

#comment-submit-button {
	margin-top: 1%;
}