@import "bootstrap-sprockets";
@import "bootstrap";

.headFont {
	color: white !important;
	font-weight: bold;
}

.navbar-brand {
	font-weight: bolder !important;
	color: white !important;
}

.jumbotron {
	background-image: asset-url('Background-sky.jpg');
	background-size: cover;
	height: 550px;
}


.footer {
	color: grey;
	border-top: 1px solid #eaeaea;
	padding-top: 1%;
}

.footer a:hover {
	color: #222;
}

.footer small {
	margin-right: auto;
	margin-left: auto;
}

.user-img {
	text-align: center;
}

.user-title {
	text-align: center;
	font-weight: bold;
	font-size: 1.7em;
	letter-spacing: -2px;
}
#logo {
	color: black;
	font-weight: bold;
	letter-spacing: -2px;
	font-size: 2.7em;
}

#buttonLogo {
	color: black;
	background-color: lightblue;
	position: absolute;
	right: 50%;
	width:10%;
	height: 5%;
}

#login-form-control {
	width: 50%;
	margin-left: auto;
	margin-right: auto;
}

#form-input-control {
	margin-left: auto;
	margin-right: auto;
	width: 60%;
}
