<div class="jumbotron-bottom">
	<!-- <a href="#" class="footLink"><para>Created by <br />Adam Parker</para></a> -->

<!-- <div class="foot-para">|<a href="#"> programming languages used</a> | <a href="#">blah</a> | <a href="#">blah</a> | <a href="#">blah </a>| </div> -->

</div>

<div ng-init="linkedin = 'images/linkedin.png'" ng-mouseover="linkedin = '/images/linkedinHover.png'" ng-mouseout="linkedin = '/images/linkedin.png'">
	<a href="#"><img class="linkedin" src="{{linkedin}}"></a>
</div>

<div ng-init="twitter = 'images/twitter.png'" ng-mouseover="twitter = '/images/twitterHover.png'" ng-mouseout="twitter = '/images/twitter.png'">
	<a href="#"><img class="twitter" src="{{twitter}}"></a>
</div>