<div class="jumbotron-bottom">
	<a href="#" class="footLink"><para>Created by <br />Adam Parker</para></a>

<div class="foot-para">|<a href="#"> programming languages used</a> | <a href="#">blah</a> | <a href="#">blah</a> | <a href="#">blah </a>| </div>

</div>

<div ng-init="linkedin = 'app/images/linkedin.png'" ng-mouseover="linkedin = 'linkedinHover.png'" ng-mouseout="linkedin = 'linkedin.png'">
	<a href="#"><img class="linkedin" src="{{linkedin}}"></a>
</div>

<div ng-init="twitter = 'twitter.png'" ng-mouseover="twitter = 'twitterHover.png'" ng-mouseout="twitter = 'twitter.png'">
	<a href="#"><img class="twitter" src="{{twitter}}"></a>
</div>