<nav class="navbar navbar-default">
	<div class="container">
<!-- 		<div class="navbar-header">
			<h1>Adam Parker's portfolio</h1>
        </div> -->


        <% if user_signed_in? == true %>
        <ul class="nav navbar-nav navbar-right">
            <li style="color: #505050;"><button class="btn btn-default"><%= link_to 'Log out', destroy_user_session_path, :method => :delete %></button></li>
        </ul>
        <ul class="nav navbar-nav navbar-right"><li style="color: #FF5A00; margin-right: 1%;">Welcome, <%= current_user.username %></li></ul>
        <% end %>

        <% if user_signed_in? == false %>
        <ul class="nav navbar-nav navbar-right">
            <li style="color: #505050;"><button class="btn btn-default"><%= link_to 'Sign up', new_user_registration_path, {:style=>'color: #FF5A00;'} %></button></li>
        </ul>

        <ul class="nav navbar-nav navbar-right">
            <li style="color: #505050;"><button class="btn btn-default"><%= link_to 'Login', user_session_path, {:style=>'color: #FF5A00;'} %></button></li>
        </ul>
        <% end %>

        <ul class="nav navbar-nav navbar-right">
            <li><a href="#/experience"><div class="headText">Experience</div></a></li>
        </ul>

        <ul class="nav navbar-nav navbar-right">
            <li><a href="#/contact"><div class="headText">Contact me</div></a></li>
        </ul>

        <ul class="nav navbar-nav navbar-right">
            <li><a href="#/qualifications"><div class="headText">Qualifications</div></a></li>
        </ul>

        <ul class="nav navbar-nav navbar-right">
            <li><a href="/"><div class="headText">Home</div></a></li>
        </ul>

	</div>
</nav>
<!-- <a href="/"><img class="profilePic" src="/images/profile.jpg"></a> -->