<nav class="navbar navbar-default">
	<div class="container">
<!-- 		<div class="navbar-header">
			<h1>Adam Parker's portfolio</h1>
		</div> -->
        <ul class="nav navbar-nav navbar-right">
            <li><a href="#/experience"><div class="headText">Experience</div></a></li>
        </ul>

        <ul class="nav navbar-nav navbar-right">
            <li><a href="#/contact"><div class="headText">Contact me</div></a></li>
        </ul>

        <ul class="nav navbar-nav navbar-right">
            <li><a href="#/qualifications"><div class="headText">Qualifications</div></a></li>
        </ul>

        <ul class="nav navbar-nav navbar-right">
            <li><a href="/"><div class="headText">Home</div></a></li>
        </ul>

	</div>
</nav>
<a href="/"><img class="profilePic" src="/images/profile.jpg"></a>